﻿
@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateConfermid</title>
</head>
<body>
    <div>
        @Model.deptid: @Model.deptname: @Model.capactiy
    </div>
</body>
</html>