﻿@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Delete</title>
</head>
<body>
    <form  method="post">
        <div class="row mb-3">
            <label for="Deptid" class="col-sm-2 col-form-label">Department ID</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="Deptid" name="deptid" placeholder="DeptID" value="@Model.deptid">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Deptname" class="col-sm-2 col-form-label">Department Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Deptname" name="deptname" placeholder="DeptName" value="@Model.deptname">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Deptcap" class="col-sm-2 col-form-label">Department capactiy</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="Deptcap" name="capactiy" placeholder="Deptcapactiy" value="@Model.capactiy">
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</body>
</html>
