﻿@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Detailes</title>
</head>
<body>
    <div>
        <h1> Detail of department</h1>
        <label >Department Id is         @Model.deptid </label>
        <br />
        <label>Department name is       @Model.deptname </label>
        <br />
        <label>Department capactiy is         @Model.capactiy</label>
    </div>
</body>
</html>
