﻿@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Edit</title>
</head>
<body>
    <form action="Edit" method="post">
        <div class="row mb-3">
            @*<label for="Deptid" class="col-sm-2 col-form-label">Department ID</label>*@
            @Html.LabelFor(m => m.deptid)
            <div class="col-sm-8">
                @*<input type="hidden" class="form-control" id="Deptid" name="deptid" placeholder="DeptID" value="@Model.deptid">*@
                @Html.HiddenFor(z => z.deptid)
            </div>
        </div>
        <div class="row mb-3">
            @*<label for="Deptname" class="col-sm-2 col-form-label">Department Name</label>*@
            @Html.LabelFor(m => m.deptname)
            <div class="col-sm-8">
                @*<input type="text" class="form-control" id="Deptname" name="deptname" placeholder="DeptName" value="@Model.deptname">*@
                @Html.TextBoxFor(m => m.deptname)
            </div>
        </div>
        <div class="row mb-3">
            @*<label for="Deptcap" class="col-sm-2 col-form-label">Department capactiy</label>*@
            @Html.LabelFor(m => m.capactiy)
            <div class="col-sm-8">
                @* <input type="number" class="form-control" id="Deptcap" name="capactiy" placeholder="Deptcapactiy" value="@Model.capactiy">*@
                @Html.TextBoxFor(m => m.capactiy)
            </div>
        </div>


        <button type="submit" class="btn btn-primary">update</button>
    </form>
</body>
</html>
