﻿@using Demo2.Models;
@model List<Department>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <a href="/department/Create" class="btn btn-danger">
        create
        <span class="badge"> @Model.Count </span>
    </a>

    @*
            <img src="~/images/nature.jpg"  class="figure-img"/>
        <button class="btn-group btn-danger"> save</button>
    *@
    <br />
    <br />
    <table class="table  table-bordered table-hover table-responsive ">
        <thead>
            <tr >
                <th>Dept ID</th>
                <th>Dept Name</th>
                <th>Dept capactiy</th>
                <th> Dept Process</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> @item.deptid</td>
                <td> @item.deptname</td>
                <td> @item.capactiy</td>
                <td>
                    <a class=" btn btn-dark"  href="department/edit/@item.deptid"> Edit</a>
                    <a class="btn btn-info"   href="department/Detailes/@item.deptid"> Detail</a>
                    <a class="btn btn-danger" href="department/delete/@item.deptid"> Delete</a>
                </td>
            </tr>
            }

        </tbody>

    </table>

</body>
</html>
