﻿@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>showcreate</title>
</head>
<body>
    <form action="department/create" method="post">
        <div class="row mb-3">
            <label for="Deptid" class="col-sm-2 col-form-label">Department ID</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="Deptid" name="deptid" placeholder="DeptID">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Deptname" class="col-sm-2 col-form-label">Department Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Deptname" name="deptname" placeholder="DeptName">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Deptcap" class="col-sm-2 col-form-label">Department capactiy</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="Deptcap" name="capactiy" placeholder="Deptcapactiy">
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    @*
        <div>
            <form action="department/create" method="post">
                <label>ID Department</label><input type="number" name="deptid" />
                <br />
                <label>Department Name</label><input type="text" name="deptname" />
                <br />
                <label>Dppartment Capactiy</label><input type="number" name="capactiy" />
                <br />
                <input type="submit" value="Add" />
            </form>
        </div>*@
</body>
</html>
