﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post">
            <label>
                <input type="radio" value="Male" name="gender"/>Male
            </label>
            <label>
                <input type="radio" value="Female" name="gender"/>Fmale
            </label>
            <select name="num" multiple>
                <option> val 1</option>
                <option> val 2</option>
                <option> val 3</option>
                <option> val 4</option>
                <option> val 5</option>
            </select>
            <input type="submit" value="Add" />
        </form>
    </div>
</body>
</html>
